@using NoteBuddy.Models
@using System.Globalization
@inject IJSRuntime JS
@implements IDisposable

<div class="pinned-picture"
     id="@ElementId"
     style="left: @(Picture.PositionX.ToString(CultureInfo.InvariantCulture))px; top: @(Picture.PositionY.ToString(CultureInfo.InvariantCulture))px; z-index: @Picture.ZIndex;"
     @oncontextmenu="OnRightClick"
     @oncontextmenu:preventDefault="true">

    <img src="uploads/@Picture.FileName" alt="Pinned picture" />

    <MudMenu @ref="_contextMenu" PositionAtCursor="true" Class="pinned-picture-menu">
        <ActivatorContent>
            <span></span>
        </ActivatorContent>
        <ChildContent>
            @if (AvailableTabs.Any())
            {
                <MudText Typo="Typo.overline" Class="px-4 pt-1" Style="color: #999;">Move to</MudText>
                @foreach (var tab in AvailableTabs)
                {
                    <MudMenuItem Icon="@Icons.Material.Filled.DriveFileMove" OnClick="() => OnMoveToTab.InvokeAsync((Picture.Id, tab.Id))">@tab.Title</MudMenuItem>
                }
                <MudDivider />
            }
            <MudText Typo="Typo.overline" Class="px-4 pt-1" Style="color: #999;">Arrange</MudText>
            <MudMenuItem Icon="@Icons.Material.Filled.FlipToFront" OnClick="() => OnZOrderChanged.InvokeAsync((Picture.Id, ZOrderAction.BringToFront))">Bring to Front</MudMenuItem>
            <MudMenuItem Icon="@Icons.Material.Filled.ArrowUpward" OnClick="() => OnZOrderChanged.InvokeAsync((Picture.Id, ZOrderAction.BringForward))">Bring Forward</MudMenuItem>
            <MudMenuItem Icon="@Icons.Material.Filled.ArrowDownward" OnClick="() => OnZOrderChanged.InvokeAsync((Picture.Id, ZOrderAction.SendBackward))">Send Backward</MudMenuItem>
            <MudMenuItem Icon="@Icons.Material.Filled.FlipToBack" OnClick="() => OnZOrderChanged.InvokeAsync((Picture.Id, ZOrderAction.SendToBack))">Send to Back</MudMenuItem>
            <MudDivider />
            <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="OnDeleteClicked">Delete</MudMenuItem>
        </ChildContent>
    </MudMenu>
</div>

@code {
    /// <summary>The pinned picture model to display.</summary>
    [Parameter] public PinnedPicture Picture { get; set; } = default!;

    /// <summary>Callback invoked when the user requests to delete this picture.</summary>
    [Parameter] public EventCallback<Guid> OnDelete { get; set; }

    /// <summary>Callback invoked when the picture is dragged to a new position.</summary>
    [Parameter] public EventCallback<(Guid Id, double X, double Y)> OnMoved { get; set; }

    /// <summary>Callback invoked when the user changes this picture's z-order via the context menu.</summary>
    [Parameter] public EventCallback<(Guid Id, ZOrderAction Action)> OnZOrderChanged { get; set; }

    /// <summary>List of tabs this picture can be moved to (excludes the current tab).</summary>
    [Parameter] public List<Tab> AvailableTabs { get; set; } = new();

    /// <summary>Callback invoked when the user moves this picture to another tab. (PictureId, TargetTabId)</summary>
    [Parameter] public EventCallback<(Guid PictureId, Guid TabId)> OnMoveToTab { get; set; }

    /// <summary>Unique DOM element ID for this picture's container.</summary>
    private string ElementId => $"pic-{Picture.Id}";

    /// <summary>.NET object reference passed to JS for drag callbacks.</summary>
    private DotNetObjectReference<PinnedPictureCard>? _dotNetRef;

    /// <summary>Tracks whether JS drag interop has been initialized.</summary>
    private bool _jsInitialized;

    /// <summary>Reference to the MudMenu used as the right-click context menu.</summary>
    private MudMenu? _contextMenu;

    /// <summary>Initializes the JS drag interop after the component renders. The entire card is the drag handle.</summary>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || !_jsInitialized)
        {
            _dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("corkboardInterop.initDraggable", ElementId, ElementId, _dotNetRef);
            _jsInitialized = true;
        }
    }

    /// <summary>Called from JavaScript when the picture is dragged to a new position.</summary>
    [JSInvokable]
    public async Task OnPositionChanged(double x, double y)
    {
        Picture.PositionX = x;
        Picture.PositionY = y;
        await OnMoved.InvokeAsync((Picture.Id, x, y));
    }

    /// <summary>Opens the context menu on right-click.</summary>
    private void OnRightClick(MouseEventArgs e)
    {
        _contextMenu?.OpenMenuAsync(e);
    }

    /// <summary>Forwards the delete request to the parent component.</summary>
    private async Task OnDeleteClicked()
    {
        await OnDelete.InvokeAsync(Picture.Id);
    }

    /// <summary>Disposes the .NET object reference used for JS interop.</summary>
    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }
}
